/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #617a55;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 79vh;
  height: auto;
  background: rgb(141,144,141);
  background: linear-gradient(4deg, rgba(141,144,141,1) 20%, rgba(231,240,227,1) 57%);
  padding: 20px;
}
