.user-profile-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgb(255, 248, 214);
    background: linear-gradient(
      4deg,
      rgba(255, 248, 214, 1) 20%,
      rgba(247, 225, 174, 1) 57%
    );
}

.user-profile-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-profile-form .form-group {
    margin-bottom: 10px;
}

.user-profile-form label {
    display: block;
    margin-bottom: 5px;
}

.user-profile-form input[type='text'] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-profile-form .error {
    color: red;
    font-size: 14px;
}

.user-profile-form button[type='submit'] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-profile-form button[type='submit']:hover {
    background-color: #45a049;
}

.user-profile-form button[type='submit']:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
