/* Header Styles */
.header {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    background: #007bff;
    color: #fff;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand i {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: #ffff;
}

.nav-link {
    color: #ececec !important;
    transition: ease-in-out;
}

.nav-link:hover {
    color: #ffff !important;
}

.navbar-toggler {
    border: 1px solid #ececec !important;
    transition: ease-in-out;
}

.navbar-toggler:hover {
    background-color: #c1c1c1;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .collapse {
        display: flex;
        flex-direction: column;
        align-items: start !important;
        justify-content: start;
    }

    .nav {
        flex-direction: column;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .menu-container.open .menu {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        cursor: pointer;
        margin-top: 10px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #617a55;
        transition: transform 0.3s ease;
    }

    .menu-toggle.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
